@import "./common/libs/swiper/swiper.min";
@import "./common/libs/swiper/animate.min";
/* @import "./common/libs/font/iconfont"; */


body {  
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;  
}
.swiper-container {
    width:100%;
    height:736px;  
}
.swiper-wrapper{
	 width: 100%;
     height:736px;
}
.swiper-slide {
    width: 100%;
    height:100%;
	display:flex;
    text-align: center;
    font-size: 18px;  
    justify-content: center;
    /* background:url(../images/bg1.jpg) no-repeat center center; */
    position: relative;
}

.slide_1{
	display: flex;
	flex-direction: column;
	color:#fff;
	font-size: 18px;
	background: #000;
    justify-content: center;
 	/* sackground:url(../images/bg1.jpg) no-repeat center center; */
}



.headimg{
	width:120px;
	height:120px;
	color:red;
	border-radius:50%;
	position: relative;
	margin:0 auto;
	/* animation-name:headani;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;	 */
}
.headimg img{
	display: block;
	width:120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top:0px;
	left:0px;	
}
.icon1{
	position: absolute;
	top:90%;
	left:80%;
	width:40px;
	height:40px;
	animation-name:headani;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;	
}
.icon1 img{
	width:40px;
	height:40px;
	border-radius: 50%;
}
@keyframes headani{
	0%{
		transform: rotateZ(0deg);
		
	}
	25%{
		transform: rotateZ(90deg);
		
	}
	50%{
		transform: rotateZ(180deg);
		
	}
	75%{
		transform: rotateZ(270deg);
	
	}
	100%{
		transform: rotateZ(360deg);
		
	}
}
.name{
	color:#fff;
	font-size: 32px;
	font-weight: 700;
}
.sex{
	color:#fff;
	font-size: 24px;
	font-weight: 700;
}
.age{
	color:#fff;
	font-size: 24px;
	font-weight: 700;
}
.slide_2{
	position: relative;
	background: #000;
	display: flex;
	flex-direction: column;
	color:#fff;
	font-size: 18px;
	background: #000;
    justify-content: center;
}
@-webkit-keyframes circle{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(-360deg); }
}
#skill_one{
	width:350px;
	height:350px;
	border:1px solid #069FED;
	margin:0 auto;
 	display: flex;
	flex-direction: column;
	justify-content: center; 
	position: relative;
}

#skill_one img{
	display: block;
	width:120px;
	height: 120px;
	animation-name:circle;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;	
}
.xiangyun{
	position: absolute;
	top:-50px;
	left:80px;
	animation-name:laihui;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;		
}
@-webkit-keyframes laihui{
    0%{ transform:translate(10px,55px); }
     10%{ transform:translate(10px,60px); }
      20%{ transform:translate(10px,-160px); }
       30%{ transform:translate(70px,320px); }
       40%{ transform:translate(60px,310px); }
     50%{ transform:translate(50px,-130px); } 
     60%{ transform:translate(70px,320px); }
     80%{ transform:translate(50px,-130px); }
     90%{ transform:translate(60px,320px); }
    100%{ transform:translate(40px,-140px); }
}
.xiangyun i{
	font-size: 140px;
	color:orange;
}
.liu1{
	width:120px;
	height:120px;
	position: absolute;
	top:10px;
	left:55px;
	color: red;
	z-index: 10;
}
.liu2{
	width:120px;
	height:120px;
	position: absolute;
	top:10px;
	right:60px;
	z-index: 10;
	
}
.liu3{
	width:120px;
	height:120px;
	position: absolute;
	top:110px;
	z-index: 10;
	left:0px;
}
.liu4{
	width:120px;
	height:120px;
	position: absolute;
	top:110px;
	z-index: 10;
	right:5px;
}
.liu5{
	width:120px;
	height:120px;
	position: absolute;
	top:210px;
	z-index: 10;
	left:55px;
}
.liu6{
	width:120px;
	height:120px;
	position: absolute;
	top:210px;
	z-index: 10;
	right:60px;
}
.liu7{
	width:120px;
	height:120px;
	position: absolute;
	top:110px;
	left:112px;
}
@-webkit-keyframes scale1{
    0%{ transform:scale(0.75,0.75); }
    100%{ transform:scale(1,1); }
.liu7 img{
	display: block;
	width:120px;
	height:120px;
}


}
.sk0{
	color:#C70101;
	font-size: 30px;
	font-weight: 700;
	position: absolute;
	top:120px;
	left:142px;
	animation-name:scale1;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}
.sk1{
	color:#fb0528;
	font-size: 18px;
	position: absolute;
	top:34px;
	left:15px;
}
.sk2{
	color:#fb7305;
	font-size: 18px;
	position: absolute;
	top:30px;
	left:48px;
}
.sk3{
	color:#fbf205;
	font-size: 18px;
	position: absolute;
	top:30px;
	left:30px;
}
.sk4{
	color:#05fb2d;
	font-size: 18px;
	position: absolute;
	top:36px;
	left:26px;
}
.sk5{
	color:#05fbf2;
	font-size: 18px;
	position: absolute;
	top:34px;
	left:22px;
}
.sk6{
	color:#fb05e7;
	font-size: 18px;
	position: absolute;
	top:36px;
	left:30px;
}


.slide_3{
	width:100%;
	height:736px;
	background: #000;
	display: flex;
	flex-direction: column;
	color:#fff;
	font-size: 18px;
    justify-content: center;
    align-items: center;
}

.shu{
	width:2px;
	height:600px;
	background: #12f4f1;
	border-radius: 4px 4px 4px 4px;
	position: absolute;
}
@-webkit-keyframes scale{
    0%{ transform:scale(1,1); }
    50%{ transform:scale(0.7,0.7); }
    100%{ transform:scale(0.5,0.5); }

}
.shu img{
	animation-name:circle;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
	animation-name:scale;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;	
}
.ex0{
	display: block;
	width:210px;
	height:35px;
	position: absolute;
	top:-30px;
	left:-100px;
	text-align: center;
	line-height: 35px;
	color:#fff;
	background: skyblue;
	font-size: 24px;
	border-radius: 8px 8px 8px 8px;
}
.xing1{
	position: absolute;
	top:-28px;
	left:-190px;
}
.ex1{
	display: block;
	width:210px;
	position: absolute;
	top:30px;
	left:-207px;
	color:#fff;
}
.xing2{
	position: absolute;
	top:168px;
	left:145px;
}
.ex2{
	display: block;
	width:210px;
	position: absolute;
	top:210px;
	left:4px;
	color:#fff;
}
.xing3{
	position: absolute;
	top:300px;
	left:-190px;
}
.ex3{
	display: block;
	width:210px;
	position: absolute;
	top:350px;
	left:-210px;
	color:#fff;
}
.xing4{
	position: absolute;
	top:450px;
	left:125px;
}
.ex4{
	display: block;
	width:210px;
	position: absolute;
	top:520px;
	left:4px;
	color:#fff;
}
.slide_4{
	width:100%;
	height:100%;
	display: flex;
	background: #000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#enter{
	display: block;
	width:260px;
	height:45px;
	line-height: 45px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	background:orange;
	margin:20px auto;
	color:#fff;
	font-size: 24px;
	font-weight: 700;
}
.musicplay{
	position: relative;
}
#music{
	position: absolute;
	top:50%;
	left:40%;
	z-index: 100;
}
#play{
	display: block;
	position: absolute;
	width:45px;
	height:43px;
	bottom:-45px;
	left:20px;
	color:red;
	font-size: 28px;
	z-index:99;
	animation-name:circle;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;	
}

.aboutme{
	font-size: 20px;
	color:#fff;
	margin-top: 4px;
}
.erwei{
	width: 250px;
	height: 250px;
	border-radius: 10px 10px 10px 10px;
	margin:0 auto;
}
.erwei img{
	display: block;
	width: 250px;
	height: 250px;
}



/* iscroll part */
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #272822;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	display: flex;
}
#header div{
	flex:1;
}
.head_r{
	position:relative;
}
#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #272822;
	padding: 0;
	border-top: 1px solid #272822;
	display:flex;
	color:#fff;
	font-size:18px;
	padding: 5px 0 8px 0;
}
#footer div{
	display: flex;
	flex:1;
	align-items: center;
	
}
#footer div:hover{
	color:orange;
	opacity: 0.6;
}
#footer i{
	font-size: 18px;
	margin-bottom: 4px
}
.foot_1{
	margin-left: 10px;
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}
.menu{
	display: none;
}


#scroller,#scroller2,#scroller3 {
	position: absolute;
	z-index: 1;
	width: 100%;
	background: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	display: flex;
	flex-direction: column; 
}
#scroller1{
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: column; 
	line-height: 100%;
}

.ski_part{
	width:100%;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: row;
}
.icon_img{
	width:80px;
	height: 80px;
	padding:20px 20px ;
	display:flex;
}
.icon_img img{
	display: block;
	width:80px;
	height: 80px;
	display: flex;
	flex-direction: row;
}

.state{
	width:100%;
	height: 100px;
	display: flex;
	padding-top: 8px;
	flex-direction: column;
}

.ski_part p{
	display: flex;
	flex:1;
	font-size: 14px;
	color:#272822;
	padding:0 20px 0 0px;
	margin: 2px 0 2px 0;
}
.ski_part p span{
	display: flex;
	flex:1;
	font-size: 14px;
	color:#131414;
}
.abm{
	width:100%;
	height:30px;
	font-size: 18px;
	text-align: center;
}
.ski_part_me{
	width:100%;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: column;
}
.ski_part_me p{
	font-size: 14px;
	color:#272822;
	padding:0 20px 0 20px;
	margin:2px 0 2px 0;
	line-height: 20px;
}
.ski_part_me p span{
	font-size: 14px;
	color:#131414;
}
.project_img{
	width:100px;
	height: 100px;
	display:flex;
}
.ski_part1{
	width:100%;
	height:350px;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: column;
}
.project_img{
	width:100%;
	height: 200px;
	display:flex;
}
.project_img img{
	display: block;
	width:100%;
	height: 200px;
}
.state1{
	width:100%;
	height: 100px;
	display: flex;
	padding-top: 8px;
	flex-direction: column;
}
.ski_part1 p{
	display: flex;
	flex:1;
	font-size: 14px;
	color:#272822;
	padding:0 20px 0 20px;
	margin: 10px 0 10px 0;
	line-height: 20px;
}
.ski_part1 p span{
	display: flex;
	flex:1;
	font-size: 14px;
	color:#131414;
	margin:0px 0px;
}
.jiang{
	width:100%;
	height:auto;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}
.jiang1{
	display: block;
	width:100px;
	height:80px;
	flex:1;
	padding-left: 20px;
	margin-right: 4px;
	

}
.jiang2{
	display: block;
	width:100px;
	height:80px;
	flex:1;
	margin-right: 4px;
}
.jiang3{
	display: block;
	width:100px;
	height:80px;
	flex:1;
	padding-right: 20px;
	
}
.jiangxiang{
	width:100%;
	height:auto;
	display: flex;
	flex-direction: row;
}
.jiangxiang p{
	padding-left: 20px;
	color:#272822;
}